.course-container{
  display: flex;
}
.coursePart{
  width: 80%;
  border-right: 1px solid lightgray;}
  .course-container{
    background-color:lightcyan;
  }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
